<ul id="myMenu">
	<li data-menuanchor="firstPage" class="active"><a href="#firstPage">First section</a></li>
	<li data-menuanchor="secondPage"><a href="#secondPage">Second section</a></li>
	<li data-menuanchor="thirdPage"><a href="#thirdPage">Third section</a></li>
	<li data-menuanchor="fourthPage"><a href="#fourthPage">Fourth section</a></li>
</ul>

<div id="fullpage">
	<div id="#firstPage" class="section">
		<div id="particles-js"></div>
		<%= link_to root_path, class: 'centered' do %>
		<%= image_tag 'LogoLKDigital.png', alt: 'logo lkdigital', id: 'height_logo' %>
		<% end %>
	</div>
	<div id="#secondPage" class="section">

		<div>

			<div class="container">

				<div class="row">
					<h1>Our History</h1>
					<p>LK Digital was created in 2018 by two friends who met at the school named ETNA (IT Engineering School). They discovered they had a shared passion for the digital and the entreprenership. They decided to join forces and start their own digital agency. </p>
					<br><br>
					<h2>Freelance – Paris</h2>
					<br>
					<span>Based in &nbsp;Paris but at your disposition wherever you're from.
						<p>Whether it is for&nbsp;
							<strong>Creating a website</strong>
							&nbsp;and/or for&nbsp;
							<strong>differents digital projects</strong>, we will define together your needs by analysing your goals, to give you the most adequate solution.
						</p>
						<p>Because we give a great importance to our relationship, we will be your only interlocutor throughout the phases of your project.<br>
							We accompany you and advise you
							&nbsp;in order to&nbsp; boost your visibility on the web &nbsp; and so grow your business.
						</p>
					</span>
					<br><br>

					<div class="row carousel">

						<div class="responsive">
							<div class="gallery center">
								<%= image_tag 'lightbulb.png', alt: 'idea lkdigital' %>
								<h5 class="">Rigor &amp; Quality</h5>
								<div class="no-margin desc">
									<p>We attach particular importance to make every effort in order to deliver a successful website while respecting deadlines.</p>
								</div>
							</div>
						</div>

						<div class="responsive">
							<div class="gallery center">
								<%= image_tag 'clock.png', alt: 'rigueur lkdigital' %>
								<h5 class="" >Advice &amp; Listening</h5>
								<div class="no-margin desc">
									<p>Each project deserves special attention. We bring you our expertise to advise you and help you make the right choices.</p>
								</div>
							</div>
						</div>



						<div class="responsive">
							<div class="gallery center">
								<%= image_tag 'user.png', alt: 'rigueur lkdigital' %>
								<h5 class="" >Proximity &amp; Trust</h5>
								<div class="no-margin desc">
									<p>We meet you to learn about your project. It is important that a relationship of trust is established from the beginning.</p>
								</div>
							</div>
						</div>


						<div class="responsive">
							<div class="gallery center">
								<%= image_tag 'speech.png', alt: 'communication lkdigital' %>
								<h5 class="" >Reactivity &amp; Disponibility</h5>
								<div class="no-margin desc">
									<p>For our collaboration to be effective.<br>We inform you and remain available throughout the phases of realization of the project.</p>
								</div>
							</div>
						</div>
					</div>

					<section class="services">
						<div class="wrapper" itemscope itemtype="http://schema.org/Service">
							<h1 class="text-center services-section-head" itemprop="name">Services</h1>
							<p class="text-center services-section-subtitle">Let’s work together on your next project.
							</p>

							<section class="pricing-section bg-12">
								<div class="pricing pricing--palden">

									<div class="pricing__item">
										<div class="pricing__deco">
											<svg class="pricing__deco-img" version="1.1" id="Layer_1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg"
											xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="100px" viewBox="0 0 300 100"
											enable-background="new 0 0 300 100" xml:space="preserve">

											<path class="deco-layer deco-layer--1" opacity="0.6" fill="#ADE900" d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
											c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z" />

											<path class="deco-layer deco-layer--2" opacity="0.6" fill="#ADE900" d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
											c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z" />

											<path class="deco-layer deco-layer--3" opacity="0.7" fill="#ADE900" d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
											H42.401L43.415,98.342z" />

											<path class="deco-layer deco-layer--4" fill="#ADE900" d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
											c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z" />
											
										</svg>
										<div class="pricing__price">
											<img src="dist/images/undraw_wireframing_nxyi.svg" alt="">
										</div>
										<h3 class="pricing__title" itemprop="name">UI/UX Design</h3>
									</div>
								</div>

								<div class="pricing__item pricing__item--featured">
									<div class="pricing__deco">
										<svg class="pricing__deco-img" version="1.1" id="Layer_1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg"
										xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="100px" viewBox="0 0 300 100"
										enable-background="new 0 0 300 100" xml:space="preserve">
										<path class="deco-layer deco-layer--1" opacity="0.6" fill="#ADE900" d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
										c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z" />
										<path class="deco-layer deco-layer--2" opacity="0.6" fill="#ADE900" d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
										c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z" />
										<path class="deco-layer deco-layer--3" opacity="0.7" fill="#ADE900" d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
										H42.401L43.415,98.342z" />
										<path class="deco-layer deco-layer--4" fill="#ADE900" d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
										c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z" />
									</svg>
									<div class="pricing__price">
										<img src="dist/images/development.svg" alt="">
									</div>
									<h3 class="pricing__title" itemprop="name">Web Development</h3>
								</div>
							</div>

							<div class="pricing__item">
								<div class="pricing__deco">
									<svg class="pricing__deco-img" version="1.1" id="Layer_1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg"
									xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="100px" viewBox="0 0 300 100"
									enable-background="new 0 0 300 100" xml:space="preserve">
									<path class="deco-layer deco-layer--1" opacity="0.6" fill="#ADE900" d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
									c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z" />
									<path class="deco-layer deco-layer--2" opacity="0.6" fill="#ADE900" d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
									c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z" />
									<path class="deco-layer deco-layer--3" opacity="0.7" fill="#ADE900" d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
									H42.401L43.415,98.342z" />
									<path class="deco-layer deco-layer--4" fill="#ADE900" d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
									c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z" />
								</svg>
								<div class="pricing__price">
									<img src="dist/images/undraw_mobile_marketing_iqbr.svg" alt="">                  
								</div>
								<h3 class="pricing__title" itemprop="name">Marketing</h3>
							</div>
						</div>

					</div>
				</section>

			</div>
		</section>

		<section id="contact" class="contact-section" itemscope itemtype="http://schema.org/Person">
			<h4 class="text-center contact-section-head">Contact</h4>
			<p class="text-center contact-section-subtitle">
				Do you need a new website or an app?
				<br>Or do you just want to talk and get some advice? Get in touch.
				<br><a itemprop="email" href="mailto:hello@lkdigital.eu">lauren_d@outlook.fr</a>.
			</p>

			<div class="background">
				<div class="w-100 mx-auto">
					<div class="screen">
						<div class="screen-header">
							<div class="screen-header-left">
								<div class="screen-header-button close"></div>
								<div class="screen-header-button maximize"></div>
								<div class="screen-header-button minimize"></div>
							</div>
							<div class="screen-header-right">
								<div class="screen-header-ellipsis"></div>
								<div class="screen-header-ellipsis"></div>
								<div class="screen-header-ellipsis"></div>
							</div>
						</div>
						<div class="screen-body">
							<div class="screen-body-item left">
								<div class="app-title">
									<span>CONTACT</span>
									<span>US</span>
								</div>
								<div class="app-contact">CONTACT INFO : +33 6 12 80 12 58</div>
							</div>
							<div class="screen-body-item">
								<form class="contact-section__form" action="https://formspree.io/lauren_d@outlook.fr" method="post">
									<div class="app-form">
										<div class="app-form-group">
											<input class="app-form-control" name="name" placeholder="NAME" value="" required>
										</div>
										<div class="app-form-group">
											<input class="app-form-control" name="email" placeholder="EMAIL" required>
										</div>
										<div class="app-form-group">
											<textarea name="message" rows="2" cols="80" class="app-form-control" placeholder="MESSAGE"></textarea>
										</div>
										<div class="app-form-group buttons">
											<button class="app-form-button" type="submit" class="btn" name="button">SEND</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>


		</section>
		<br><br>
	</div>

</div>

</div>	

<script>
	$('.carousel').slick({
		dots: false,
		autoplay: true,
		autoplaySpeed: 5000,
		infinite: true,
		speed: 300,
		arrows: false,
		slidesToShow: 2,
		slidesToScroll: 2,
		responsive: [
		{
			breakpoint: 1024,
			settings: {
				slidesToShow: 2,
				slidesToScroll: 2,
				infinite: true,
				dots: false
			}
		},
		{
			breakpoint: 600,
			settings: {
				slidesToShow: 1,
				slidesToScroll: 1
			}
		},
		{
			breakpoint: 480,
			settings: {
				slidesToShow: 1,
				slidesToScroll: 1
			}
		},
		{
			breakpoint: 200,
			settings: "unslick"
		}	

		]
	});
</script>
</div>
<div id="#thirdPage" class="section">Some section</div>
<div id="#fourthPage" class="section">Some section</div>
</div>

