<!-- <% if !current_page? root_path  %>

<% else %>
<%= link_to work_path, id: 'work_project', class: 'top_left' do %>
<div class="myText">

</div>
<%= image_tag 'pencil.png', alt: 'projects link lkdigital' %>
<% end %>

<%= link_to us_path, class: 'bottom_left' do %>
<div class="myText">

</div>
<%= image_tag 'us.png', alt: 'contact and information link lkdigital' %>
<% end %>

<%= link_to educ_path, class: 'bottom_right' do %>
<div class="myText">

</div>
<%= image_tag 'educ.png', alt: 'Education link lkdigital' %>
<% end %>
<% end %>

<div id="btn" class="top_right">
  <%= image_tag 'menu.png', alt: 'menu lkdigital' %>
</div>
<div id="box">
  <div id="items">
    <div class="itemm"><%= link_to "HOME", root_path %></div>

    <div class="itemm"><%= link_to "ABOUT US", us_path %></div>
    <div class="itemm"><%= link_to "PROJECTS", work_path%></div>
    <div class="itemm"><%= link_to "EDUCATION", educ_path%></div>
    
    <div class=" inline-block center firstpad">
      <div class="social">
        <a href="https://www.linkedin.com/company/lk-digital/" target="_blank"><i class="fa fa-linkedin 3x"></i></a>
      </div>

    </div>
    <div class=" inline-block center">
      <div class="social">
        <a href="https://www.instagram.com/lkdigital_eu/" target="_blank"><i class="fa fa-instagram 3x"></i></a>
      </div>

    </div>
    <div class=" inline-block center">
      <div class="social">
        <a href="https://twitter.com/LKDigital_eu" target="_blank"><i class="fa fa-twitter 3x"></i></a>
      </div>

    </div>
    <div class=" inline-block center">
      <div class="social">
        <a href="http://facebook.com/lkdigital.eu" class="" target="_blank"><i class="fa fa-facebook 3x"></i></a>
      </div>
    </div>
    <div class="footer">© <strong id="footer"></strong> LK DIGITAL</div>
  </div>
</div>

<script>
  var sidebarBox = document.querySelector('#box');
  var sidebarBtn = document.querySelector('#btn');
  var pageWrapper = document.querySelector('#page-wrapper');

  sidebarBtn.addEventListener('click', function (event) {
    sidebarBtn.classList.toggle('active');
    sidebarBox.classList.toggle('active');
  });

  /*pageWrapper.addEventListener('click', function (event) {

    if (sidebarBox.classList.contains('active')) {
      sidebarBtn.classList.remove('active');
      sidebarBox.classList.remove('active');
    }
  });*/

  window.addEventListener('keydown', function (event) {

    if (sidebarBox.classList.contains('active') && event.keyCode === 27) {
      sidebarBtn.classList.remove('active');
      sidebarBox.classList.remove('active');
    }
  });

  function myFunction() {
    var d = new Date();
    var n = d.getFullYear();
    document.getElementById("footer").innerHTML = n;
  }
  window.onload = myFunction;


</script> -->

<div class="menu-icon">
  <span class="menu-icon__line menu-icon__line-left"></span>
  <span class="menu-icon__line"></span>
  <span class="menu-icon__line menu-icon__line-right"></span>
</div>

<div class="nav">
  <div class="nav__content">
    <ul class="nav__list">
      <li class="nav__list-item mx-auto display-4"><%= link_to "HOME", root_path %></li>
      <li class="nav__list-item mx-auto display-4"><%= link_to "ABOUT US", us_path %></li>
      <li class="nav__list-item mx-auto display-4"><%= link_to "PROJECTS", work_path%></li>
      <li class="nav__list-item mx-auto display-4"><%= link_to "EDUCATION", educ_path%></li>
    </ul>
  </div>
</div>

<div id="navMenu" class="diamond">
  <div id="mainRotCorrect" class="rotCorrect"><i class="fa fa-cubes fa-4x" aria-hidden="true"></i></div>
</div>
<div id="nav1" class="nav nav1 diamond">
  <div class="rotCorrect"><i class="fa fa-home fa-2x" aria-hidden="true"></i></div>
</div>
<!--<div class="popUp">Home</div>-->
<div id="nav2" class="nav nav2 diamond">
  <div class="rotCorrect"><i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i></div>
</div>
<div id="nav3" class="nav nav3 diamond">
  <div class="rotCorrect"><i class="fa fa-calendar fa-2x" aria-hidden="true"></i></div>
</div>
<div id="nav4" class="nav nav4 diamond">
  <div class="rotCorrect"><i class="fa fa-line-chart fa-2x" aria-hidden="true"></i></div>
</div>
<div id="nav5" class="nav nav5 diamond">
  <div class="rotCorrect"><i class="fa fa-cogs fa-2x" aria-hidden="true"></i></div>
</div>

<script >

  const app = (() => {
    let body;
    let menu;
    let menuItems;

    const init = () => {
      body = document.querySelector('body');
      menu = document.querySelector('.menu-icon');
      menuItems = document.querySelectorAll('.nav__list-item');

      applyListeners();
    }

    const applyListeners = () => {
      menu.addEventListener('click', () => toggleClass(body, 'nav-active'));
    }

    const toggleClass = (element, stringClass) => {
      if(element.classList.contains(stringClass))
        element.classList.remove(stringClass);
      else
        element.classList.add(stringClass);
    }

    init();
  })();

$(document).ready(function() {
  $("#navMenu").click(function() {
   //$(".nav").toggleClass("small");
    if ($(".nav").hasClass("small")) {
      $(".nav").removeClass("small");
    } else {
      $(".nav").addClass("small");
    }
  });
});

</script>