<!-- <% if !current_page? root_path  %>

<% else %>
<%= link_to work_path, id: 'work_project', class: 'top_left' do %>
<div class="myText">

</div>
<%= image_tag 'pencil.png', alt: 'projects link lkdigital' %>
<% end %>

<%= link_to us_path, class: 'bottom_left' do %>
<div class="myText">

</div>
<%= image_tag 'us.png', alt: 'contact and information link lkdigital' %>
<% end %>

<%= link_to educ_path, class: 'bottom_right' do %>
<div class="myText">

</div>
<%= image_tag 'educ.png', alt: 'Education link lkdigital' %>
<% end %>
<% end %>

<div id="btn" class="top_right">
  <%= image_tag 'menu.png', alt: 'menu lkdigital' %>
</div>
<div id="box">
  <div id="items">
    <div class="itemm"><%= link_to "HOME", root_path %></div>

    <div class="itemm"><%= link_to "ABOUT US", us_path %></div>
    <div class="itemm"><%= link_to "PROJECTS", work_path%></div>
    <div class="itemm"><%= link_to "EDUCATION", educ_path%></div>
    
    <div class=" inline-block center firstpad">
      <div class="social">
        <a href="https://www.linkedin.com/company/lk-digital/" target="_blank"><i class="fa fa-linkedin 3x"></i></a>
      </div>

    </div>
    <div class=" inline-block center">
      <div class="social">
        <a href="https://www.instagram.com/lkdigital_eu/" target="_blank"><i class="fa fa-instagram 3x"></i></a>
      </div>

    </div>
    <div class=" inline-block center">
      <div class="social">
        <a href="https://twitter.com/LKDigital_eu" target="_blank"><i class="fa fa-twitter 3x"></i></a>
      </div>

    </div>
    <div class=" inline-block center">
      <div class="social">
        <a href="http://facebook.com/lkdigital.eu" class="" target="_blank"><i class="fa fa-facebook 3x"></i></a>
      </div>
    </div>
    <div class="footer">© <strong id="footer"></strong> LK DIGITAL</div>
  </div>
</div>

<script>
  var sidebarBox = document.querySelector('#box');
  var sidebarBtn = document.querySelector('#btn');
  var pageWrapper = document.querySelector('#page-wrapper');

  sidebarBtn.addEventListener('click', function (event) {
    sidebarBtn.classList.toggle('active');
    sidebarBox.classList.toggle('active');
  });

  /*pageWrapper.addEventListener('click', function (event) {

    if (sidebarBox.classList.contains('active')) {
      sidebarBtn.classList.remove('active');
      sidebarBox.classList.remove('active');
    }
  });*/

  window.addEventListener('keydown', function (event) {

    if (sidebarBox.classList.contains('active') && event.keyCode === 27) {
      sidebarBtn.classList.remove('active');
      sidebarBox.classList.remove('active');
    }
  });

  function myFunction() {
    var d = new Date();
    var n = d.getFullYear();
    document.getElementById("footer").innerHTML = n;
  }
  window.onload = myFunction;


</script> -->

<!-- BASEN ON DRIBBBLE SHOT: https://dribbble.com/shots/2209627-UI8-Nav -->

<div class="container">
  <span class="menu-trigger">
    <i class="menu-trigger-bar top"></i>
    <i class="menu-trigger-bar middle"></i>
    <i class="menu-trigger-bar bottom"></i>
  </span>
  <span class="close-trigger">
    <i class="close-trigger-bar left"></i>
    <i class="close-trigger-bar right"></i>
  </span>
  <span class="logo">
    <span>
      ⬢
      <i class="logo-title">UI</i>
      <i class="logo-badge">6</i>
    </span>
  </span>
  <div class="inner-container">
    <i class="menu-bg top"></i>
    <i class="menu-bg middle"></i>
    <i class="menu-bg bottom"></i>
    <div class="menu-container">
      <ul class="menu">
        <li>
          <a href="#">Login</a>
        </li>
        <li>
          <a href="#">Create account</a>
        </li>
        <li>
          <a href="#">Support</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- -->
<div id='links'>
  <a id='twitter' href="https://twitter.com/karlovidek" target="_blank"><span class='fa fa-twitter'></span></a>
  <div id='pens'><a href="https://codepen.io/karlovidek/" target="_blank"><span class='fa fa-codepen'></span></a> my other Pens</div>
</div>

<script>
  //OPEN TRIGGER
  var openTrigger = $('.menu-trigger');
  var openTriggerTop = openTrigger.find('.menu-trigger-bar.top');
  var openTriggerMiddle = openTrigger.find('.menu-trigger-bar.middle');
  var openTriggerBottom = openTrigger.find('.menu-trigger-bar.bottom');

//CLOSE TRIGGER
var closeTrigger = $('.close-trigger');
var closeTriggerLeft = closeTrigger.find('.close-trigger-bar.left');
var closeTriggerRight = closeTrigger.find('.close-trigger-bar.right');

//LOGO
var logo = $('.logo');

//MENU
var menuContainer = $('.menu-container');
var menu = $('.menu');
var menuTop = $('.menu-bg.top');
var menuMiddle = $('.menu-bg.middle');
var menuBottom = $('.menu-bg.bottom');

//TL
var tlOpen = new TimelineMax({paused: true});
var tlClose = new TimelineMax({paused: true});

//OPEN TIMELINE
tlOpen.add("preOpen")
.to(logo, 0.4, {
  scale: 0.8,
  opacity: 0,
  ease: Power2.easeOut
}, "preOpen")
.to(openTriggerTop, 0.4, {
  x: "+80px", y: "-80px", delay: 0.1, ease: Power4.easeIn, onComplete: function() {
    closeTrigger.css('z-index','25');
  }
}, "preOpen")
.to(openTriggerMiddle, 0.4, {
  x: "+=80px", y: "-=80px", ease: Power4.easeIn,
  onComplete: function() {
    openTrigger.css('visibility','hidden');
  }
}, "preOpen")
.to(openTriggerBottom, 0.4, {
  x: "+=80px", y: "-=80px", delay: 0.2, ease: Power4.easeIn
}, "preOpen")
.add("open", "-=0.4")
.to(menuTop, 0.8, {
  y: "13%",
  ease: Power4.easeInOut
}, "open")
.to(menuMiddle, 0.8, {
  scaleY: 1,
  ease: Power4.easeInOut
}, "open")
.to(menuBottom, 0.8, {
  y: "-114%",
  ease: Power4.easeInOut
}, "open")
.fromTo(menu, 0.6, {
  y: 30, opacity: 0, visibility: 'hidden'
}, {
  y: 0, opacity: 1, visibility: 'visible', ease: Power4.easeOut
}, "-=0.2")
.add("preClose", "-=0.8")
.to(closeTriggerLeft, 0.8, {
  x: "-=100px", y: "+=100px", ease: Power4.easeOut
}, "preClose")
.to(closeTriggerRight, 0.8, {
  x: "+=100px", y: "+=100px", delay: 0.2, ease: Power4.easeOut
}, "preClose");

//CLOSE TIMELINE
tlClose.add("close")
.to(menuTop, 0.2, {
  backgroundColor: "#6295ca", ease: Power4.easeInOut, onComplete: function() {
    logo.css('z-index','26');
    closeTrigger.css('z-index','5');
    openTrigger.css('visibility','visible');
  }
}, "close")
.to(menuMiddle, 0.2, {
  backgroundColor: "#6295ca", ease: Power4.easeInOut
}, "close") 
.to(menuBottom, 0.2, {
  backgroundColor: "#6295ca", ease: Power4.easeInOut
}, "close")
.to(menu, 0.6, {
  y: 20, opacity: 0, ease: Power4.easeOut, onComplete: function() {
    menu.css('visibility','hidden');
  }
}, "close")
.to(logo, 0.8, {
  scale: 1, opacity: 1, ease: Power4.easeInOut
}, "close", "+=0.2")
.to(menuTop, 0.8, {
  y: "-113%",
  ease: Power4.easeInOut
}, "close", "+=0.2")
.to(menuMiddle, 0.8, {
  scaleY: 0,
  ease: Power4.easeInOut
}, "close", "+=0.2")
.to(menuBottom, 0.8, {
  y: "23%",
  ease: Power4.easeInOut,
  onComplete: function() {
    menuTop.css('background-color','#ffffff');
    menuMiddle.css('background-color','#ffffff');
    menuBottom.css('background-color','#ffffff');
  }
}, "close", "+=0.2")
.to(closeTriggerLeft, 0.2, {
  x: "+=100px", y: "-=100px", ease: Power4.easeIn
}, "close")
.to(closeTriggerRight, 0.2, {
  x: "-=100px", y: "-=100px", delay: 0.1, ease: Power4.easeIn
}, "close")
.to(openTriggerTop, 1, {
  x: "-=80px", y: "+=80px", delay: 0.2, ease: Power4.easeOut
}, "close")
.to(openTriggerMiddle, 1, {
  x: "-=80px", y: "+=80px", ease: Power4.easeOut
}, "close")
.to(openTriggerBottom, 1, {
  x: "-=80px", y: "+=80px", delay: 0.1, ease: Power4.easeOut
}, "close");

//EVENTS
openTrigger.on('click', function(){
  if(tlOpen.progress() < 1){
    tlOpen.play();
  } else {
    tlOpen.restart();
  }
});

closeTrigger.on('click', function(){
  if(tlClose.progress() < 1){
    tlClose.play();
  } else {
    tlClose.restart();
  }
});
</script>