<!-- portfolio -->
<section class="work-section" id="projects">
  <div class="wrapper">
    <h1 class="text-center work-wrapper-head">Projects</h1>
    <hr class="hr">

    <div class="site-section -active">
      
      <div class="work">
        <article class="work-item" itemscope itemtype="http://schema.org/Thing">
          <a itemprop="url" href="lktravel.html" class="work-item__img">
            
            <%= image_tag 'lktravel.png', alt: 'LK Travels - Travel blog with interactive maps' %>
          </a>
          <div class="work-item__info" style="transform: translate3d(0px, -40%, 0px);">
            <div class="work-item__info--box">
              <h3 itemprop="name">LK Travels</h3>
              <p itemprop="description">Travel blog with interactive map and storytelling.</p>
              <a itemprop="url" href="lktravel.html" class="flip-btn flip-btn--white"><span>Case Study</span></a>
            </div>
          </div>
        </article>

        <article class="work-item" itemscope itemtype="http://schema.org/Thing">
          <a itemprop="url" href="atypikHouse.html" class="work-item__img">
            
            <%= image_tag 'atypik.jpg', alt: 'AtypikHouse - AirBnB like website and app.' %>
          </a>
          <div class="work-item__info" style="transform: translate3d(0px, 9.55975%, 0px);">
            <div class="work-item__info--box">
              <h3 itemprop="name">AtypikHouse</h3>
              <p itemprop="description">AtypikHouse is a platform where you can find odd places to rent and spend a night to.</p>
              <a itemprop="url" href="atypikHouse.html" class="flip-btn flip-btn--white"><span>Case Study</span></a>
            </div>
          </div>
        </article>

        <article class="work-item" itemscope itemtype="http://schema.org/Thing">
          <a itemprop="url" href="http://yakoitalkshow.over-blog.com/" class="work-item__img">
            
            <%= image_tag 'yakoi.png', alt: 'Yakoi Podcast Blog.' %>
          </a>
          <div class="work-item__info" style="transform: translate3d(0px, -40%, 0px);">
            <div class="work-item__info--box">
              <h3 itemprop="name">Yakoi</h3>
              <p itemprop="description">Listen to 3 french friends talk about rap.</p>
              <a itemprop="url" href="http://yakoitalkshow.over-blog.com/" class="flip-btn flip-btn--white"><span>Go listen to them</span></a>
            </div>
          </div>
        </article>

        <article class="work-item" itemscope itemtype="http://schema.org/Thing">
          <a itemprop="url" href="http://uthaya.fr" class="work-item__img">
            
            <%= image_tag 'uthaya.png', alt: 'Uthaya.fr' %>
          </a>
          <div class="work-item__info" style="transform: translate3d(0px, -40%, 0px);">
            <div class="work-item__info--box">
              <h3 itemprop="name">Uthaya.fr</h3>
              <p itemprop="description">Tamil professor and youtube creator, she sells her own course to learn tamil through french</p>
              <a itemprop="url" href="http://uthaya.fr" class="flip-btn flip-btn--white"><span>Check It Out</span></a>
            </div>
          </div>
        </article>

        <article class="work-item" itemscope itemtype="http://schema.org/Thing">
          <a itemprop="url" href="#" class="work-item__img">
            
            <%= image_tag 'youtransactor.jpg', alt: 'Youtransactor' %>
          </a>
          <div class="work-item__info" style="transform: translate3d(0px, -40%, 0px);">
            <div class="work-item__info--box">
              <h3 itemprop="name">Youtransactor</h3>
              <p itemprop="description">Company website, manufactoring and seller of solutions for contraventions terminals and others</p>
              <a itemprop="url" href="http://youtransactor.com" class="flip-btn flip-btn--white"><span>Check It Out</span></a>
            </div>
          </div>
        </article>

      </div>
    </div>

  </div>
</section>
