<!DOCTYPE html>
<html>
  <head>
    <title>LK Digital</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag :modernizr %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	    <%= render 'shared/navbar' %>

    <%= yield %>

    <footer>
                  <div class="text_center display_flex">
                       © 2018 LK DIGITAL
                  </div>
           </footer>
  </body>
</html>
