<!DOCTYPE html>
<html class="one-page-layout" data-classic-layout="false" data-mobile-classic-layout="false">
<head>
  <title>LK Digital - Freelance Web Developpers</title>
  <%= csrf_meta_tags %>
  <meta name="description" content="Développeurs web basé à Paris et disponible pour des missions freelance. Création de sites web, développement front-end, développement WordPress, intégration responsive...">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css">
  <%= javascript_include_tag :modernizr %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<% if current_page?('/') %>
<body >
  <% else %>
  <body class="bg-diff" >
    <% end %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js">
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js">
    </script>
    <div id="particles-js">
    </div>

    <%= render 'shared/navbar' %>


    <main itemscope="itemscope" itemtype="http://schema.org/Occupation" itemprop="http://schema.org/hasOccupation" style="min-height: 633px;">
      <meta itemprop="name" content="Full-Stack Web Developper">
      <meta itemprop="skills" content="PHP">
      <meta itemprop="skills" content="HTML">
      <meta itemprop="skills" content="CSS">
      <meta itemprop="skills" content="JAVASCRIPT">
      <meta itemprop="skills" content="RESPONSIVE">
      <meta itemprop="skills" content="JQUERY">
      <meta itemprop="skills" content="DRUPAL">
      <meta itemprop="skills" content="NODEJS">
      <meta itemprop="skills" content="RIOTJS">
      <meta itemprop="skills" content="EXPRESS">
      <meta itemprop="skills" content="MONGODB">
      <meta itemprop="skills" content="REACT NATIVE">
      <meta itemprop="skills" content="JAVA">
      <meta itemprop="skills" content="SHOPIFY">
      <meta itemprop="skills" content="WORDPRESS">
      <meta itemprop="skills" content="MYSQL">
      <meta itemprop="skills" content="SCSS">
      <meta itemprop="skills" content="MOBILE">
    <%= yield %>
    </main>
    <% if current_page?('/') %>
    <div class="mouse">
      <div class="scroll">
      </div>
    </div>
    <% end %>

    <!-- Footer -->
    <footer class="page-footer font-small">

      <!-- Footer Elements -->
      <div class="">

        <!-- Grid row-->
        <div class="row mw-100">

          <!-- Grid column -->
          <div class="col-md-12">
            <div class="flex-center float-right">

              <!-- Facebook -->
              <a class="fb-ic" title="Page Facebook" href="https://www.facebook.com/lkdigital.eu/">
                <i class="fab fa-facebook-f fa-lg white-text mr-md-3 mr-2 "> </i>
              </a>
              <!-- Twitter -->
              <a class="tw-ic" title="Page Twitter" href="https://twitter.com/LKDigital_eu?lang=fr">
                <i class="fab fa-twitter fa-lg white-text mr-md-3 mr-2 "> </i>
              </a>
              <!--Instagram-->
              <a class="ins-ic" title="Page Instagram" href="https://www.instagram.com/lkdigital_eu/">
                <i class="fab fa-instagram fa-lg white-text mr-md-3 mr-2 "> </i>
              </a>
            </div>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row-->

      </div>
      <% if current_page?('/dorian') %>
      <div class="footer-copyright text-center">
        <a href="/" title="Page Home" class="link-main">To the website</a>
        <a href="/sopika" title="Resume Sopika" class="link-sop">Next</a>
      </div>
      <% end %>
      <% if current_page?('/sopika') %>
      <div class="footer-copyright text-center">
        <a href="/dorian" title="Resume Dorian" class="link-main">Prev</a>
        <a href="/" title="Page Home" class="link-main">To the website</a>
        <a href="/jananika" title="Resume Jananika" class="link-sop">Next</a>
      </div>
      <% end %>
      <% if current_page?('/jananika') %>
      <div class="footer-copyright text-center">
        <a href="/sopika" title="Resume Sopika" class="link-main">Prev</a>
        <a href="/" title="Page Home" class="link-main">To the website</a>
        <a href="/dorian" title="Resume Dorian" class="link-sop">Next</a>
      </div>
      <% end %>
      <!-- Footer Elements -->
      <% if current_page?('/') %>
      <!-- Copyright -->
      <div class="footer-copyright text-center">© 2019
        <a href="mailto:lauren_d@outlook.fr" title="Mail"> lauren_d@outlook.fr</a>
      </div>
      <% end %>

      
      <!-- Copyright -->

    </footer>
    <!-- Footer -->
    <script>
      $(document).ready(function() {

        console.log("Loading particles.js");

        particlesJS('particles-js',
        {
          "particles": {
            "number": {
              "value": 50,
              "density": {
                "enable": true,
                "value_area": 500
              }
            },
            "color": {
              "value": "#ADE900"
            },
            "shape": {
              "type": "circle",
              "stroke": {
                "width": 0,
                "color": "#000000"
              },
              "polygon": {
                "nb_sides": 5
              },
              "image": {
                "src": "img/github.svg",
                "width": 20,
                "height": 20
              }
            },
            "opacity": {
              "value": 0.5,
              "random": false,
              "anim": {
                "enable": false,
                "speed": 1,
                "opacity_min": 0.1,
                "sync": false
              }
            },
            "size": {
              "value": 1,
              "random": true,
              "anim": {
                "enable": true,
                "speed": 10,
                "size_min": 0.1,
                "sync": false
              }
            },
            "line_linked": {
              "enable": true,
              "distance": 150,
              "color": "#069400",
              "opacity": 0.4,
              "width": 1
            },
            "move": {
              "enable": true,
              "speed": 12,
              "direction": "none",
              "random": false,
              "straight": false,
              "out_mode": "out",
              "bounce": false,
              "attract": {
                "enable": false,
                "rotateX": 600,
                "rotateY": 1200
              }
            }
          },
          "interactivity": {
            "detect_on": "canvas",
            "events": {
              "onhover": {
                "enable": true,
                "mode": "repulse"
              },
              "onclick": {
                "enable": true,
                "mode": "push"
              },
              "resize": true
            },
            "modes": {
              "grab": {
                "distance": 400,
                "line_linked": {
                  "opacity": 1
                }
              },
              "bubble": {
                "distance": 400,
                "size": 10,
                "duration": 2,
                "opacity": 0.8,
                "speed": 3
              },
              "repulse": {
                "distance": 200,
                "duration": 0.4
              },
              "push": {
                "particles_nb": 4
              },
              "remove": {
                "particles_nb": 2
              }
            }
          },
          "retina_detect": true
        }

        );

      });

      $('.nav').on('click', 'a', function() {
        $(".menu-icon").click();
      });

    </script>
    

  </body>
  </html>
