<!DOCTYPE html>
<html>
  <head>
    <title>LK Digital</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag :modernizr %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body >

    <%= yield %>
    <script>
  $(document).ready(function() {
    $('#fullpage').fullpage({
    //options here
    autoScrolling:true,
    scrollHorizontally: true,
    anchors: ['firstPage', 'secondPage', 'thirdPage', 'fourthPage', 'lastPage'],
    menu: '#myMenu'
  });

    //methods
    $.fn.fullpage.setAllowScrolling(false);
  });
</script>
  </body>
</html>
